<!DOCTYPE html>
<html lang="en">
<head>
<title>Journey | About</title>
<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!--- Font families ---->
      <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
     <!--- Font families ---->
      <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

      <!-- For Tabs -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!--For Tabs end -->

      <link rel="stylesheet" type="text/css" href="/css/Project.css">
</head>
<body>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg navbar-inverse" role="navigation" style = "margin-bottom: 0px; margin-top: 0px;">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="iconic iconic-camera-rangefinder" title="camera rangefinder" aria-hidden="true"></span>
  </button>

  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
          <span class="fas fa-plane"></span>
          JOURNEY
        </a>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contacts">Contact Us</a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if(login){ %>
           <li><a href='/user/logout'>Logout<i class="fas fa-sign-in-alt"></i></a></li>
           <% } else{ %> 
          <li><a href='/user/signin'>Login<i class="fas fa-sign-in-alt"></i></a></li>
          <% } %>
      </ul>
  </div>
</nav>

<div class="container">
  <img src="/images/t6.jpg" alt="" style="width: 1100px;">
  <div class="col-md-6 col-sm-4">
          <h2>Agency Profile</h2>
          
          <p><a href="#"><h4>Take Every Chance You Get In Life, Because Somethings Only Happen Once</h4></a></p>
          <p>A trip is not a story in itself, it’s just a series of events. Some of these events will be interesting (you made it up Kilimanjaro!) and some will not (you arrived back at the airport on time*). As a writer, your first job is to decide on the particular story you want to tell, and the events which make up that story.
          To see the kinds of stories that get published, look at the bold line of introductory copy (known as ‘standfirsts’ in the trade) of articles in papers, magazines and websites. Try writing the standfirst for your own story, and then use it as your brief.
          *Actually, that might be interesting, but only if your story was about how everything ran late in Tanzania.</p>
          <p>Some trips have a physical objective (reaching the top of Kilimanjaro, crossing Costa Rica, seeing a tiger) that gives your article direction and purpose. The reader (hopefully) sticks with you because they want to know if you’ll achieve your goal.
          But many trips don’t have an obvious goal; they are more about discovering a place, unpicking its history or meeting its people. In this case, create a personal goal to give your reader a sense of where you’re taking them. Sentences like “I wanted to discover…” or “I was keen to understand…” give readers an idea of what’s to come, instead of you simply plunging them into the unknown.</p>
          <div class="clear"></div>
          If you’re wandering around a strange country without a guidebook, you look for signposts. So do readers as they travel through your story. Every few paragraphs tell them where you’re going next, and remind them of your ultimate goal.
          For example, you could write: ‘The next day we travelled from Tokyo to Hirosaki.’ Or you could signpost things a little, by writing: "It was tempting to linger in Tokyo’s restaurants, but my search for Japan’s best sake would next take me deep into the countryside." 'Aha', thinks the reader: I can see where this is going, and why – I’ll keep tagging along.
    </div>
   <div class="col-md-6 col-sm-4"> 
        <h2>Our Principles</h2>
        <ul class="list1">
          <li>
            <div class="extra_wrapper">
              <div><a href="#"><h4>Stretch your boundaries. Experience something new.</h4></a></div>
              Try something new every day to expand your horizons and get out of your comfort zone,
              Head to nature and sleep under the stars; try exotic and strange foods; attend a religious ceremony; throw tomatoes at festivals; teach English in the middle of Borneo; do something that scares you; and talk to strangers.</div>
          </li>
          <li>
            <div class="extra_wrapper">
              <div><a href="#"><h4>Interact. Engage. Listen. Embrace</h4></a></div>
              Our most important discoveries and memorable experiences come from those we meet on the travel road. Interact with the local people and other travelers. Ask questions to dig deep into cultures and beliefs.</div>
          </li>
          <li>
            <div class="extra_wrapper">
              <div><a href="#"><h4>Take moments and memories over possessions</h4></a></div>
              Possessions wither away and die. Moments shape our character and the memories stay with us forever. In 20 years' time, that Gucci handbag will not have made a difference to your life and will be a distant memory.</div>
          </li>
        </ul>
  </div>
      <div class="clear"></div>
  </div>
<div class="footer">
    <footer class="text-center">
            <nav class="footercontent">
                <a href="https://www.facebook.com/" target="_blank" title="Jthink Facebook page"><img src="http://jthink.net/images/facebook.png" alt="Jthink Facebook page" title="Jthink Facebook page" height="32" width="32"/></a>&nbsp;
                <a href="https://plus.google.com/" target="_blank" title="Jthink Google+ page"><img src="http://jthink.net/images/google_plus.png" alt="google_plus" title="Jthink Google+ page" height="32" width="32"/></a>&nbsp;
                <a href="http://youtube.com/" target="_blank" title="Jthink YouTube channel"><img src="http://jthink.net/images/youtube.png" alt="Jthink YouTube channel" title="Jthink YouTube channel" height="32" width="32"/></a>
                <a href="mailto:anglekar.s@husky.neu.edu" target="_blank" title="Email Paul at Jthink"><img src="http://jthink.net/images/email.png" alt="Email Paul at Jthink" title="Email Paul at Jthink" height="32" width="32"/></a>&nbsp;
                <a href="#" target="_blank" title="Subscribe to Weekly Newsletter"><img src="http://jthink.net/images/subscribe_newsletter.png" alt="Subscribe to Weekly Newsletter" title="Subscribe to Weekly Newsletter"/></a>&nbsp;
            </nav>
             <span class="text-muted">Copyright JThink Ltd 2004 - 2018 All rights reserved. All trademarks acknowledged</span>
        </footer>
    </div>
</body>
</html>