<!DOCTYPE html>
<html lang="en">
<head>
<title>Journey</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<script>
$(document).ready(function () {
    $('label').click(function () {
      console.log($(this).children().css("color"));
      if ($(this).children().css("color") === "rgb(255, 0, 0)") {
        $(this).children().css({"color":"blue"});
        console.log("We are in blue");
      } else {
        $(this).children().css({"color":"red"});
        console.log("We are in red");
      }

    });
});
</script>
<link rel="stylesheet" type="text/css" href="seat.css">
<style>
</style>
</head>
<body>



 <form action="/abc" method="POST">

    <table id="table">
       <tr>
          <td>
              <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                1A
            </label> 
          </td>
          <td>
              <label>
            <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
            <label>
               1B
            </label>
          </td>
          <td>
              <label id="11">
              <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                1C
            </label>
          </td>
          <td>
              <label id="11">
              <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                1D
            </label>
          </td>
          <td>
              <label id="11">
              <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                1E
            </label>
          </td>
          <td>
              <label id="11">
              <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                1F
            </label>
          </td>  
        </tr>    
        <tr>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2A
              </label>
            </td>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2B
              </label>
            </td>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2C
              </label>
            </td>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2D
              </label>
            </td>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2E
              </label>
            </td>
            <td>
                <label id="11">
                <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                  2F
              </label>
            </td>
          </tr>
      
          <tr>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3A
                </label>
              </td>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3B
                </label>
              </td>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3C
                </label>
              </td>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3D
                </label>
              </td>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3E
                </label>
              </td>
              <td>
                  <label id="11">
                  <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                    3F
                </label>
              </td>
            </tr>
      
            <tr>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4A
                  </label>
                </td>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4B
                  </label>
                </td>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4C
                  </label>
                </td>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4D
                  </label>
                </td>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4E
                  </label>
                </td>
                <td>
                    <label id="11">
                    <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                      4F
                  </label>
                </td>
              </tr>
      
              <tr>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5A
                    </label>
                  </td>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5B
                    </label>
                  </td>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5C
                    </label>
                  </td>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5D
                    </label>
                  </td>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5E
                    </label>
                  </td>
                  <td>
                      <label id="11">
                      <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                        5F
                    </label>
                  </td>
                </tr>
      
                <tr>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6A
                      </label>
                    </td>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6B
                      </label>
                    </td>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6C
                      </label>
                    </td>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6D
                      </label>
                    </td>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6E
                      </label>
                    </td>
                    <td>
                        <label id="11">
                        <i class='fas fa-couch' style='font-size:30px;color:blue'></i>
                          6F
                      </label>
                    </td>
                  </tr> 
      </table>
     <input type="text" name="array_1" id="array_1"  /> 
     
     <input type="text" name="id" id="array_1" value="<%=flights._id %>" /> 
   
     <input type="submit" value="SEARCH"> 

     
      </form>
      </body>
      <script>
      
       var table = document.getElementById("table");
      // for (i = 0; i < x.rows.length; i++) {
      //   for(j = 0; j < x.rows[i].cells.length; j++){
      //     x.rows[i].cells[j].onclick = function(i,j) {
      //       console.log(i+":"+j)
      //     };
      //   }
      // }
          // seats : [ [ 0, 0, 0, 0, 0, 0 ]
          //   , [ 0, 0, 0, 0, 0, 0 ]
          //    , [ 0, 0, 0, 0, 0, 0 ]
          //   , [ 0, 0, 0, 0, 0, 0 ]
          // , [ 0, 0, 0, 0, 0, 0 ]
          // , [ 0, 0, 0, 0, 0, 0 ] ],
      for(i=0;i<table.rows.length;i++){
          for(j=0;j<table.rows[i].cells.length;j++){
            table.rows[i].cells[j].onclick=function(i,j){
         console.log(i+"."+j);
         document.getElementById("array_1").value = i+"."+j;
        }.bind(null,i,j)
          }
      }
       </script>
</html>